html,body, div, span, form,iframe,
h1, h2, h3, h4, h5, p, em, img, ol, ul, li {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
html{height: 100%;font-size: 62.5%;}
body {
  box-sizing: border-box;
  font-family: Helvetica, 'STXihei', 'STHeiti Light', 'Microsoft yahei', sans-serif;
  line-height: 1;
  background-color: #fff;
}

input {
  margin: 0;
  padding: 0;
  /*-webkit-appearance: none;*/
  border-style: none;
}

input {
  outline-style: none;
}

input[type="text"] {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
ol,
ul,
li {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input::-webkit-input-placeholder {
color: #D6D0CA !important; 
}
input:-moz-placeholder {
color: #D6D0CA !important; 
}
input::-moz-placeholder {
color: #D6D0CA !important; 
}
input:-ms-input-placeholder {
color: #D6D0CA !important; 
}
textarea::-webkit-input-placeholder {
color: #000 !important; 
}
textarea:-moz-placeholder {
color: #000 !important; 
}
textarea::-moz-placeholder {
color: #000 !important; 
}
textarea:-ms-input-placeholder {
color: #000 !important; 
}
/*
a:link,
a:visited {
  text-decoration: none;
  color: #555555;
}*/
a {
  text-decoration: none;
}
.clear {
  clear: both;
}
.clearfix:after {
  content: "\0020";
  height: 0;
  display: block;
  clear: both;
  visibility: hidden;
}
.clearfix {
  *zoom: 1;
}

.floatl {
  float: left;
}

.floatr {
  float: right;
}

.shadow {
  -webkit-box-shadow: 1px 0px 3px #d9dbdd;
     -moz-box-shadow: 0px 1px 3px #d9dbdd;
          box-shadow: 0px 1px 3px #d9dbdd;
}

.hidden {
  display: none;
}

.show {
  display: block;
}
.display-flexbox {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;  
}
.flexbox-children {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
}

body{
  background: url(../img/bg.jpg) no-repeat center center;
  background-size: cover;
}
.logo{
  width: 32%;
  text-indent: -99999px;
  display: block;
  margin: 4% 0 0 4%;
}
.logo img{
  width: 100%;
  display: block;
}
.frame{
  left: 8%;
  right: 8%;
  top: 9%;
  bottom: 5%;
  position: absolute;
  background: url(../img/frame.jpg) no-repeat center center;
  background-size: 100% 100%;
}
.frame.already{
  background-image: url(../img/frame.jpg);
}
.already_fail{
  width: 68%;
  display: block;
  font-size: 20px;
  color: #034585;
  text-align: center;
  margin: 23% auto 0;
  line-height: 24px;
}
.already_fail img{
  width: 100%;
  display: block;
  margin-bottom: 20%;
}
.tuk{
  width: 38%;
  margin: 0 0 -1% -9.2%;
  display: block;
  bottom: 0;
  left: 0;
  position: absolute;
}
.frame.after{
  background-image: url(../img/frame_after.jpg);
}
.robber{
  width: 38%;
  margin: 0 0 -3% -9.2%;
  display: block;
  bottom: 0;
  left: 0;
  position: absolute;
}
.after .already_fail{
  margin-top: 10%;
  font-size: 13px;
  white-space: nowrap;
}
.after .already_fail img{
  margin-bottom: 15%;
}
footer{
  width: 100%;
  position: absolute;
  bottom: 0;
  color: #fecb02;
  font-size: 14px;
  text-align: center;
}
footer span{
  color: #fff;
  display: block;
  line-height: 35px;
}
footer img{
  position: absolute;
  display: block;
}
.boys{
  width: 40%;
  margin: -140px 0 0 -20px;
}
.laptop{
  width: 30%;
  right: 0;
  margin: -30px 0 0 0;
}
footer .tuk{
  width: 26%;
  margin: 0 0 0 10px;
}
.gif{
  width: 65.625%;
  position: absolute;
  top: 0;
  left: 50%;
  margin: -99999px 0 0 -32.8125%;
}
.gif.show{
  margin-top: -7%;
}
.lottery_box{
  width: 100%;
  margin: 4% 0 0;
}
.event_detail{
  width: 10%;
  height: 16%;
  text-indent: -99999px;
  display: block;
  opacity: .5;
  position: absolute;
  right: 0;
  top: 0;
  margin: 32% 6.5% 0 0;
}
.btn{
  width: 126px;
  height: 30px;
  display: block;
  margin: -29% auto 0;
  position: relative;
  text-indent: -99999px;
  background: url(../img/button.png) no-repeat center 0;
  background-size: 126px 60px;
}
.btn.down{
  background-position: center bottom;
}






































