.already_win_bg{
	width: 191px;
	height: 262px;
	background: url('../img/already_win_bg.png') no-repeat 0 0;
	background-size: 191px 262px;
	margin: 10% auto;
	position: relative;
}
.win_shirt{
	position: absolute;
	top: 147px;
	left: 68px;
	margin: 0px auto;
	width: 59px;
	height: 74px;
}
.win_movie{
	position: absolute;
	top: 157px;
	left: 45px;
	margin: 0px auto;
	width: 105px;
	height: 50px;
}
.win_bag{
	position: absolute;
	top: 152px;
	left: 62px;
	margin: 0px auto;
	width: 91px;
	height: 74px;
}
.win_bg_txt{
	font-size: 1.2rem;
	color: #f3f7e1;
	position: absolute;
	bottom: 19px;
	width: 100%;
	text-align: center;
}
.already_win_movie_frame .win_bg_txt{
	bottom: 25px;
}
.already .already_win_t{
	width: 191px;
	position: absolute;
}
.already_win_txt{
	font-size: 1.3rem;
	color: #034585;
	text-align: center;
	line-height: 1.5rem;
	margin-top: -5%;
}